<div class="container" role="main">
    <div class="card-body">
      <h4>Agregar  Pokemon</h4>

  <div class="card-body">
    <table class="table table-borderless" FRAME="border" style="border-color: #ccc">
      <thead>
        <tr style="text-align: center;">
          <th ><p style="text-align: center;">Nuevo Pokemon</p></th>
        </tr>
      </thead>
      <tbody>
        <form action="">
            <tr class="text-center"  >
                <td>Nombre </td>
                <td>
                  
                    <input type="text" id="nombre" />
                
                </td>
                <td>Ataque </td>
                <td> 0<input type="range" > 100</td>
                
              </tr>
              <tr class="text-center">
                <td>Imagen</td>
                <td> 
                 
                    <input type="text" id="img"  />
                
                </td>
                <td>Defensa</td>
                <td>  0 <input type="range" >100</td>
                
              </tr>  
              <tr class="text-center">
                <td></td>
                <td><button  class="btn btn-info">Guardar</button></td>
                <td><button class="btn btn-info"  >Cancelar</button></td>
                <td></td>
              </tr>  
        </form>             
      </tbody>
    </table>
  </div>
  </div>